@media screen and (max-width:800px) {
    body {
      grid-template-columns: auto !important;
      grid-template-rows: 80px auto 75px !important;
    }

    header {
      grid-column: 1 !important;
      grid-row: 1 !important;
      justify-content: unset !important;
      border-bottom: 2px solid #EFEFEF;
      position: fixed;
      top: 0;
      width: 100%;
    }

    header a {
      padding: 10px 20px;
    }

    header h1 {
      font-size: 20px;
    }

    nav {
      display: none !important;
    }

    .icon {
      display: block !important;
      position: fixed;
      top: 30px;
      right: 20px;
    }

    .navig.responsive {
        position: fixed;
        height: 400px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: unset;
        align-items: unset;
        background-color: white;
        width: 100%;
    }

    .navig.responsive a {
        float: none;
        display: block !important;
        text-align: left;
    }

    #main {
      grid-column: 1 !important;
      grid-row: 2 !important;
    }

    #main img {
      display: flex !important;
      width: 100%;
    }

    .homeHeader {
      background-image: none !important;
      margin-top: unset !important;
      height: unset !important;
    }

    footer {
      grid-column: 1 !important;
      grid-row: 3 !important;
    }
}
